*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.clr{
    clear: both;
}
/* header part start here */
#head{
    width: 100%;
    padding: 12px 0;
    background-color: #0872b9;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.header_text{
    color: #a1bad4;
    width: 50%;
    float: left;
}
#head .header_text h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 100;
}
.header_icon{
    width: 50%;
    float: left;
}
#head .icon{
    text-align: right;
}
#head .icon i{
    padding: 0 12px;
    color: #fff;
}
#head .icon i:hover{
    color: black;
}
/* header part ends here */

/* nav part start here */
#main_menu{
    height: 80px;
}
.logo{
    float: left;
    width: 20%;
    padding: 20px 0;
}
.menu{
    float: left;
    width: 80%;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 0 6px;
    line-height: 80px;
    color: black;
    font-size: 14px;
}
.menu ul li a:hover{
    color: #0872b9;
}
/* nav part ends here */

/* banner part start here */
#banner{
    background-image: url(images/banner.jpg);
    /* padding: 85px 0; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 400px;
}
#banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: -1;
}
.banner_text{
    text-align: right;
    color: white;
    padding: 85px 0;
}
.banner_text h2{
    font-size: 30px;
}
.banner_text h1{
    font-size: 49px;
    font-weight: 100;
}
.banner_text p{
    width: 440px;
    /* margin: 0 0 0 auto; */
    margin-left: auto;
    padding: 30px 0;
    line-height: 20px;
}
#banner .banner_btn a{
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#banner .banner_btn .hire{
    margin-right: 20px;
}

#banner .banner_btn a:hover{
    background-color: #0872b9;
    color: #fff;
    border: 2px solid transparent;

}
/* banner part ends here */

/* about part start here */
#about{
    padding: 60px 0;
}
.about_head {
    text-align: center;
}
.about_head h2{
    text-transform: uppercase;
}
.about_head img{
    margin-left: -62px;
    margin-top: -21px;
}
.about_img{
    width: 40%;
    float: left;
}
.about_img img{
    width: 100%;
}
.about_text{
    width: 60%;
    font-size: 15px;
    color: rgba(144, 161, 161, 0.74);
    float: left;
    padding-left: 20px;
}
.about_text .about_text_p{
    padding-top: 45px;
    padding-bottom: 40px;
}
/* about part end here */

/* service part start here */
.service_head{
    text-align: center;
}
.service_head h2{
    text-transform: uppercase;
}
.service_head img{
    margin-top: -25px;
    margin-left: -100px;
}
.service_main{
    padding: 40px 0;
}
.service_item{
    width: 30%;
    float: left;
    background-color: #f1f1f1;
}
/* .service_item .service_mid_div{
    margin-left: 5px;
} */
.service_item_main{
    text-align: center;
    border: 2px solid #f1f1f1;
    position: relative;
    padding: 0 15px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
   
}
.service_item_main h2{
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 20px;  
}
.service_item_main p{
    line-height: 25px;
    padding-bottom: 25px;
   
}
#service .service_icon{
    position: absolute;
    border: 2px solid white;
    background-color: #f1f1f1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 70px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
#service .service_icon::before{
    position: absolute;
    content: '';
    border: 2px solid white;
    /* background-color: white; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 70px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
#service .service_icon::after{
    position: absolute;
    content: '';
    border: 2px solid white;
    /* background-color: white; */
    width: 74px;
    height: 74px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 70px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#service .service_item_main:hover .service_icon{
    background-color: #0872b9;
}
#service .service_item_main:hover .service_icon::before{
    border: 2px solid #0872b9;
}
.service_item:hover{
    box-shadow: 10px 0 10px 0 red;
}